/* /chap7/css/main.css */
body form {
    width: 100%;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}

input[type=text], input[type=password], textarea {
    width: 100%;
}